.PokemonDisplay {
  background-color: #ffffff;
  height: 500px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Egg {
  float: left;
  padding: 5px;
  height: 20px;
  width: 20px;
  justify-content: center;
}

.Fire {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: red;
}

.Water {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: blue;
}

.Grass {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: lightgreen;
}

.Flying {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: skyblue;
}

.Bug {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: greenyellow;
}

.Psychic {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: purple;
}

.Fighting {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: brown;
}

.Rock {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: grey;
}

.Ground {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: orange;
}

.Fairy {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: pink;
}

.Normal {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: lightgrey;
}

.Electric {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: yellow;
}

.Dark {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: darkslategrey;
}

.Steel {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: lightslategrey;
}

.Dragon {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: indigo;
}

.Poison {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: darkviolet;
}

.Ghost {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: whitesmoke;
}

.Ice {
  border-radius: 10px;
  float: left;
  padding: 5px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  background-color: lightblue;
}
