.PokemonDisplay {
  background-color: #ffffff;
  height: 500px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Egg {
  float: left;
  padding: 5px;
  height: 20px;
  width: 20px;
  justify-content: center;
}